{{- $gitemail := promptStringOnce . "gitemail" "Git email address" -}}

[data]
    gitemail = {{ $gitemail | quote }} 
    gpgprogram = "/usr/bin/gpg"

[git]
    autoCommit = true
    autoPush = true
