{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $signingkey := promptStringOnce . "signingkey" "Git signing key" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    gpgprogram = "gpg"
    signingkey = {{ $signingkey | quote }}

[git]
    autoCommit = true
    autoPush = true
