{{- $lp := (index (lastpass "Chezmoi") 0).note -}}

[user]
	name = {{ $lp.name | trim }}
	email = {{ $lp.email | trim }}
	signingkey = {{ $lp.signingKey | trim }}
[push]
        default = current
[pull]
        ff = only
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = {{ .gpgProgram }}
[github]
	user = {{ $lp.githubUser | trim }}
	token = {{ $lp.githubToken | trim }}
[core]
	excludesfile = ~/.gitignore
