[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingKey }}
[push]
        default = current
[pull]
        ff = only
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = {{ .gpgProgram }}
[github]
	user = {{ .githubUser }}
	token = {{ .githubToken }}
