[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}

[push]
        default = current
[pull]
        ff = only
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = {{ .gpgprogram }}
