#!/bin/sh

{{- $lp := (index (lastpass "Chezmoi") 0).note -}}

if command -v apt &> /dev/null;
then
    curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb
    sudo apt install ./keybase_amd64.deb

elif command -v dnf &> /dev/null;
then
    sudo yum -y install https://prerelease.keybase.io/keybase_amd64.rpm
elif command -v brew &> /dev/null;
then
    brew cask install keybase
fi

keybase login

echo "exporting key {{ $lp.signingKey | trim }}"
keybase pgp export -q {{ $lp.signingKey | trim }} --secret | gpg --allow-secret-key-import --import
keybase pgp export -q {{ $lp.signingKey | trim }} | gpg --import

{{- if eq .chezmoi.os "linux" -}}
gpg-agent --daemon --enable-ssh-support \   
          --write-env-file "${HOME}/.gpg-agent-info"

{{ end -}}